<h2>Add A New Beard...</h2>
<%= form_for @changeset, entry_path(@conn, :create), [multipart: true], fn f -> %>
  <div class="form-group">
    <%= label f, :title %>
    <%= text_input f, :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label f, :image %>
    <%= file_input f, :image, class: "form-control" %>
  </div>

  <%= submit "Submit the Beard!", class: "btn btn-primary" %>
<% end %>
